
.card-img-top {
    width: 250px;
    align-items: center;
}

.button {
    border-radius: 30px;
}

#select {
    border-radius: 5px;
}



.imgicon {

    width: 145px;
    height: 145px;

    align-items: center;

}

.trash {
    width: 30px;
    height: 30px;

    align-items: center;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #eee;

   
    
}
.line {
    
    border-top: 1px solid #ff0000;
}
active:before {
    font-family: FontAwesome;
    content: "\\f067";
    background-color: white;
}
.button{
    height: 45px;
    width: 45px;
}
#price{
    padding-left: 25px;
}
#totalcost{
    padding-left: 5px;
    padding-right: 15px;
}
input[type="checkbox"] {
    position: relative;
  }
  
  input[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    opacity: 0.35;
    border-radius: 3px;
  }
  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }