@media (max-width: 767.98px) {
    .border-sm-start-none {
        border-left: none !important;
    }
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 15px;
	color: #ffc000;
}
.star-rating ngb-rating 
{
	font-size: 20px;
	color: #ffc000;
}



.imgicon{
    width: 45px;
    height: 45px;
    margin-top: 3px;
    margin-left: 9px;
    align-items: center;
}
.w-100{
	width: 250px;
    height: 250px;
}
.text-success{
	font-size: 15px;
}