<br>
<br>
<br>
<br>
<div class="row">



    <div id="allign" class="card">
        <div class="card-body">
            <h1  class="card-title">Logout</h1>

            <p class="card-text">Are you sure you want to logout?</p>
            <input id="button"style="display: inline-block; margin-left:150px" class="btn btn-danger btn-sm" type="button" value="Logout"
                (click)="onLogOut()" />
            &nbsp;
            <input id="button" style="display: inline-block;" class="btn btn-danger btn-sm" type="button" value="Cancel"
                (click)="onCancel()" />
        </div>
    </div>
</div>